$redes: (
Instagram: linear-gradient (yellow,red, purple, rgb(224, 31, 63)),
Facebook: rgb(39, 39, 116),
WhatsApp: rgb(49, 197, 49),
);

.botonIntagram {
    color: map-get($map: $redes , $key: Instagram );
}
.botonFacebook {
    color: map-get($map: $redes, $key: Facebook );
}
.botonWathsApp {
    color: map-get($map: $redes, $key: WhatsApp );
}