body{
    width: auto;
    display: inline-block;
}
h1 {
    color: snow;
    text-align: center;
    font-size: 70px;
    font-family: "bebas";
    letter-spacing: 5px;
    font-weight: 50;
}

section p {
    color: rgb(43, 38, 38);
    font-family: "cabin";
    font-size: 20px;
    line-height: 2;
    text-align: center;
    letter-spacing: 2px;
    justify-content: center;

}

.centrar {
    text-align: center;
}


h2 {
    font-family: "cabin";
    color: rgb(43, 38, 38);
    letter-spacing: 2px;

}

p {
    font-family: "cabin";
    color: rgb(43, 38, 38);
}

@font-face {
    font-family: "bebas";
    src: url("./fonts/Bebas_Neue/BebasNeue-Regular.ttf");
}

@font-face {
    font-family: "cabin";
    src: url("./fonts/Cabin/Cabin-Italic-VariableFont_wdth\,wght.ttf");
}

.card__image {
    width: 1300px;
    height: 500px;
    margin-top: 60px;
    margin-bottom: 60px;
    object-fit: cover;

}

.card__productos {
    width: 200px;
    height: 200px;
    border-color: grey;
    border-style: solid;
    margin-left: 150px;
    margin-right: 10px;
    margin-top: 10px;
    margin-bottom: 80px;
}

.card__redes {
    width: 50px;
    height: 30px;
    margin-left: 300px;
  
}

.card__fb {
    width: 28px;
    margin-left: 300px
}


header {
    text-align: center;
    background-color: black;
    display: block;
    width: 100%;
    font-family: "bebas";
    color: snow;
    text-decoration: none;
    
    
}

.link {
    text-align: center;
    align-items: center;
    width: auto;
    padding:1rem;
}

.link a{
    color: snow;
    padding:1rem;
}

.login {
    width: auto;
    text-align: center;
    font-family: "bebas";
    
}
.login a{
    color:rgb(43, 38, 38);
    padding-left: 1rem;
    padding-right: 1rem;
}

footer {
    background-color: grey;
}